/* .bg-grad {
  background: rgb(240, 57, 57);
  background: linear-gradient(
    148deg,
    rgba(240, 57, 57, 0.9501050420168067) 0%,
    rgba(242, 240, 38, 0.9557072829131653) 31%,
    rgba(136, 219, 75, 0.8240546218487395) 48%,
    rgba(242, 90, 90, 0.9585084033613446) 79%,
    rgba(255, 0, 65, 0.7792366946778712) 100%
  );
} */
.bg-grad {
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

}

.input-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* To ensure the text doesn't wrap */
}
